<script src="/javascripts/main.js"></script>
<h1> Palettes by {{user.username}} </h1>

{{#if user.palettes}}
    {{#if same}}
    <br>
    <br>
        <div class="palettes">
            <div class="form">
                <form method="POST" action="">
                    {{#each user.palettes as |palette|}}
                        <div class="palette">
                            <h2> {{this.name}} </h2>
                            <input type="submit" name="{{@index}}" value="Delete Palette" class="delete">
                            <h1></h1>
                            {{#each this.colors}}
                                <div class="color" style="background-color:{{{this.hex}}}" id="{{{this.hex}}}"> </div>
                            {{/each}}
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>

                        <br>
                    {{/each}}
                </form>


            </div>

        </div>

    {{else}}

        <div class="palettes">
            {{#each user.palettes as |palette|}}
                <div class="palette">
                    <h2> {{this.name}} </h2>
                    {{#each this.colors}}
                        <div class="color" style="background-color:{{{this.hex}}}" id="{{{this.hex}}}"> </div>
                    {{/each}}
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            {{/each}}
        </div>


    {{/if}}

{{/if}}
